* {
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px;

}
#v1{
	margin-left: 40px;
    margin-right: 40px;
    padding: 1px;
    font-family: helvetica;
    font-size:100px;
}
#articlename{
	text-align: center; 
	padding:6px;
}
.singleline{
	text-align: center;
}
#v2{
	margin-left: 40px;
	margin-right: 40px;
	background-color: grey;
	color: white;
	font-size: 20px;
	font-family:;
}
#v2articlename{
	transform: rotate(-90deg);
	position: fixed;
	top:83px;
	left: -150px;
	padding:30px;

}
.v2firstsection,
.v2thirdsection
	{
	width:300px;
	padding-right: 100px;
}
.v2secondsection,
.v2forthsection
{
	width:300px;
	height:200px;
	padding-left: 300px;
}
.v2singleline{
	width:550px;
	text-align: center
}

#v3{
	margin: 80px;
	width:670px;
	height:1000px;
	font-family: arial;
	font-size: 25px;
	color: white;
	background-color: black;
}
.v3firstsection,
.v3secondsection,
.v3thirdsection,
.v3forthsection{
	transform: rotate(45deg);
	padding:150px;


}
.v3singleline{
	transform: rotate(-45deg)
}
#v4{
	margin-top: 40px;
	font-family: arial;
	font-size: 85px;
	background-color: black;
	color: white;
	width:800px;
	height:1000px;
}
#v4articlename,
.v4firstsection,.v4singleline,
.v4secondsection,.v4thirdsection,
.v4forthsection
{
	position: sticky;
	top:0px;
}







