* {
    margin-left: 10px;
    margin-right: 10px;
    padding: 1px;

}
#v1{
	margin-left: 40px;
    margin-right: 40px;
    padding: 1px;
    font-family: helvetica;
    font-size:100px;
}
#articlename{
	text-align: center; 
	padding:6px;
}
.singleline{
	text-align: center;
}
#v2{
	margin-left: 40px;
	margin-right: 40px;
	background-color: grey;
	color: white;
	font-size: 20px;
	font-family:;
}
#v2articlename{
	transform: rotate(-90deg);
	position: fixed;
	top:83px;
	left: -150px;
	padding:30px;

}
.v2firstsection,
.v2thirdsection
	{
	width:300px;
	padding-right: 100px;
}
.v2secondsection,
.v2forthsection
{
	width:300px;
	height:200px;
	padding-left: 300px;
}
.v2singleline{
	width:550px;
	text-align: center
}

#v3{
	margin: 80px;
	width:670px;
	height:1000px;
	font-family: arial;
	font-size: 25px;
	color: white;
	background-color: black;
}
.v3firstsection,
.v3secondsection,
.v3thirdsection,
.v3forthsection{
	transform: rotate(45deg);
	padding:150px;


}
.v3singleline{
	transform: rotate(-45deg)
}
#v4{
	margin-top: 40px;
	font-family: arial;
	font-size: 85px;
	background-color: black;
	color: white;
	width:800px;
	height:1000px;
}
#v4articlename,
.v4firstsection,.v4singleline,
.v4secondsection,.v4thirdsection,
.v4forthsection
{
	position: sticky;
	top:0px;
}
#v5{
	font-family: futura;
	font-size: 14.5px;
	color: white;
}
#v5articlename{
	background-color: dodgerblue;
	width:100px;
	height:100px;
}
.v5firstsection{
	background-color: dodgerblue;
	width:160px;
	height:160px;
	position: relative;
	left:580px;
}
.v5singleline1{
	background-color: dodgerblue;
	width:100px;
	height:100px;
	position: relative;
	left:100px;

}
.v5secondsection{
	background-color: dodgerblue;
	width:220px;
	height:220px;
	position: relative;
	left:200px;
	top:100px;
}
.v5singleline2{
	background-color: dodgerblue;
	width:150px;
	height:150px;
	position: relative;
	left:750px;
	top:-50px;
}
.v5thirdsection{
	background-color: dodgerblue;
	width:220px;
	height:220px;
	position: relative;
	left:350px;
	top:-180px;
}
.v5singleline3{
	background-color: dodgerblue;
	width:60px;
	height:60px;
	position: relative;
	left:50px;
	top:-200px;
}
.v5forthsection{
	background-color: dodgerblue;
	width:220px;
	height:220px;
	position: relative;
	left:550px;
	top:-150px;
}


